*.iml
.gradle
.DS_Store
.externalNativeBuild
.cxx
local.properties

/build
/captures
/.kotlin/
/patches/

# Android Studio / IntelliJ
.idea/
!.idea/gradle.xml
!.idea/misc.xml
!.idea/modules.xml
!.idea/vcs.xml
!.idea/codeStyles
!.idea/runConfigurations
